<center class="center" style="width:100%">


<center style="overflow:hidden">

<fieldset style="border-radius:30px; background:#0000007F">

<marquee direction="up" behavior="slide" scrollamount="20">
<fieldset onclick="window.postMessage('goto inventory')" style="border-radius:30px; cursor:pointer"><center>
<h1 style="font-size:72px; text-shadow: 8px 8px #0000007F; color:#DDD">📌 My Corkboard</h1>
</center></fieldset>
</marquee>

<table><tbody>
<tr>

<!--<td><center><marquee direction="left" behavior="slide" scrollamount="64"><fieldset onclick="window.postMessage('goto sales')" style="display:inline-block; width:35vw; cursor:pointer; border-radius:30% 30px 30% 30px" title="Sales"><center><h1 style="font-size:100px; text-shadow: 8px 8px #0000007F; color:#6F6">My Corkboard</h1></center></fieldset></marquee></center></td>-->

<td><center><marquee direction="left" behavior="slide" scrollamount="64"><fieldset onclick="window.postMessage('goto employees')" style="display:inline-block; width:25vw; cursor:pointer" title=""><center><h1 style="font-size:72px; text-shadow: 8px 8px #0000007F;  color:black">⏳ Timelines</h1></center></fieldset></marquee></center></td>

<td><center><marquee direction="left" behavior="slide" scrollamount="64"><fieldset onclick="window.postMessage('goto settings')" style="display:inline-block; width:25vw; cursor:pointer; border-radius:50%" title=""><center><h1 style="font-size:72px; text-shadow: 8px 8px #0000007F; color:#DDD">⚙ Settings</h1></center></fieldset></marquee></center></td>

</tr>
</tbody></table>


</fieldset>

</center>




</center>
